# Environment variables
PORT=5000
NODE_ENV=production

# Frontend URL for CORS
FRONTEND_URL=https://inventory-management-jet-five.vercel.app

# Database connection (Supabase / PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres.vgizcgldtbghrayotxyo:PostgresKaPassword123@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"

# Auth Secrets
JWT_SECRET="your_super_secret_jwt_access_key"
REFRESH_TOKEN_SECRET="your_super_secret_jwt_refresh_key"
